<h1>Login</h1>
<section class="admin-categories-new">

  <div class="row">
    <div class="col-sm-6">
      <%= form_tag '/login' do %>
    <div class="form-group">
      Email: <%= text_field_tag :email %>
      Password: <%= password_field_tag :password %>
    </div>
    <%= submit_tag "Login", class: 'btn btn-primary' %>
  <% end %>
    </div>
  </div>
</section>