<h1>Admin Dashboard</h1>
<br/>




<div class="panel panel-primary panel-heading">

  <table class="table table-bordered">
    <thead>
      <tr >
        <th>Type</th>
        <th>Quantity</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
        <%= link_to 'Products', [:admin, :products] %>
        </td>
        <td>
          <%= @count_product %>
        </td>
      </tr>
      <tr>
        <td>
        <%= link_to 'Categories', [:admin, :categories] %>
        </td>
        <td>
          <%= @count_category %>
        </td>
      </tr>
    </tbody>
  </table>
</div>
